# module to change wallpaper every 15min

[Unit]
Description=Wallpaper timer

[Service]
Environment=WALLPAPERS_DIR=/home/luk3rr/WALLPAPER_DIR
ExecStart=/home/luk3rr/.config/scripts/random_wallpaper.py --select_wallpaper 1920x1080

[Install]
WantedBy=default.target
