# module to change wallpaper every 15min

[Unit]
Description=Wallpaper timer

[Service]
Environment=WALLPAPERS_DIR=/home/luk3rr/WALLPAPER_DIR
ExecStart=/home/luk3rr/.config/scripts/random_wallpaper.py change_wallpaper -s 1920x1080 -t 0.05

[Install]
WantedBy=default.target
