# Use pactl to adjust volume in PulseAudio.
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

# Rofi keybinds
bindcode 133 --release exec ~/.config/rofi/launchers/great/launcher.sh
bindsym $mod+s exec --no-startup-id ~/.config/rofi/bin/player.sh
bindsym $mod+n exec --no-startup-id ~/.config/rofi/bin/network.sh
bindsym $mod+o exec --no-startup-id ~/.config/rofi/bin/open_workspace.sh
bindsym $mod+p exec --no-startup-id ~/.config/rofi/bin/powermenu/powermenu.sh
bindsym $mod+m exec --no-startup-id ~/.config/rofi/bin/monitor_manager.sh
bindsym $mod+Print exec ~/.config/rofi/bin/screenshot.sh

# Use playrctl to skip and pause/play in PulseAudio.
bindsym Ctrl+F2 exec --no-startup-id playerctl previous && $refresh_i3status
bindsym Ctrl+F3 exec --no-startup-id playerctl next && $refresh_i3status
bindsym Ctrl+F1 exec --no-startup-id playerctl play-pause && $refresh_i3status
bindsym Ctrl+F4 exec --no-startup-id playerctl stop && $refresh_i3status

bindsym XF86AudioPrev exec --no-startup-id playerctl previous && $refresh_i3status
bindsym XF86AudioNext exec --no-startup-id playerctl next && $refresh_i3status
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause && $refresh_i3status
bindsym XF86AudioStop exec --no-startup-id playerctl stop && $refresh_i3status

# Control backlight
bindsym XF86MonBrightnessUp exec --no-startup-id brightnessctl s +10%
bindsym XF86MonBrightnessDown exec --no-startup-id brightnessctl s 10%-

# start a terminal
bindsym $mod+Return exec kitty

# kill focused window
bindsym $mod+Shift+q kill

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
bindsym $mod+Shift+h move left

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+b split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+q layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9
bindsym $mod+0 workspace number $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

# switch between workspaces
bindsym $mod+Ctrl+Right workspace next
bindsym $mod+Ctrl+l workspace next
bindsym $mod+Ctrl+Left workspace prev
bindsym $mod+Ctrl+h workspace prev

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

# Resize window
bindsym $mod+r mode "resize"

# Change Wallpaper
bindsym $mod+Shift+slash exec ~/.config/scripts/random_wallpaper.py change_wallpaper -s 1920x1080 -t 0.05
# or
bindsym $mod+slash exec nitrogen

# Reload polybar
bindsym $mod+Shift+t exec --no-startup-id $HOME/.config/polybar/launch.sh

# useful if you copy pdf content and would like to paste into emacs without line breaks
bindsym $mod+x exec ~/.config/scripts/noLineBreaks.sh
