# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --nofork

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

# Screenlocker for i3 session
exec --no-startup-id xidlehook \
     --not-when-fullscreen \
     --not-when-audio \
     --timer 300 "betterlockscreen -l dim && betterlockscreen -u /home/luk3rr/Wallpapers/FAVORITES_FHD/" '' \
     &

# Define Wallpaper
exec --no-startup-id ~/.config/scripts/random_wallpaper.py change_wallpaper -s 1920x1080 -t 0.05

# Start polybar
exec --no-startup-id $HOME/.config/polybar/launch.sh

# Pomodoro
#exec --no-startup-id python -m pomo
#exec_always --no-startup-id python -m pomo

# Conky
exec --no-startup-id conky

# Window Compositor
exec_always picom -f

# Keyboard layout
exec_always setxkbmap -model thinkpad60 -layout br
