# use workspaces on different monitors
workspace $ws1 output eDP-1
workspace $ws2 output eDP-1
workspace $ws3 output eDP-1
workspace $ws4 output eDP-1
workspace $ws5 output HDMI-2
workspace $ws6 output HDMI-2
workspace $ws7 output HDMI-2
workspace $ws8 output HDMI-2
workspace $ws9 output HDMI-2
workspace $ws10 output HDMI-2

# Start app on specific workspace
assign [class="thunderbird"] 8
assign [class="discord"] 9
assign [class="Skype"] 9
assign [class="TelegramDesktop"] 9
assign [class="Spotify"] 10

for_window [class="Terminator"] floating enable, resize set 800 600, move position center
for_window [class=brightness.py] floating enable
for_window [class="Tk"] floating enable
